.button {
  padding: 8px 12px;
  border-radius: 8px;
  height: 40px;
}

.button-action {
  height: 40px;
  padding: 0 24px;
  border-radius: 20px;
}

.button-outlined {
  height: 40px;
  padding: 0 24px;
  border-width: 1px;
  border-radius: 20px;
}