<div class="flex flex-col gap-4">
  <div class="flex">
    <h1 class="text-xl font-bold">Choose your colors</h1>
    <div class="join" [formGroup]="mode">
      <input class="join-item btn" type="radio" name="mode" aria-label="Desktop" [value]="'desktop'" formControlName="mode"/>
      <input class="join-item btn" type="radio" name="mode" aria-label="Mobile" [value]="'mobile'"  formControlName="mode"/>
    </div>
  </div>
  <form [formGroup]="paletteForm" (submit)="submit()">
    <div *ngFor="let category of categories" style="margin-bottom: 1rem;">
      <app-color-input [category]="category" [control]="getControl(category)"></app-color-input>
    </div>
    <div class="flex gap-4 justify-end">
      <button class="btn btn-neutral w-fit" type="submit" [disabled]="paletteForm.invalid">Apply</button>
      <button class="btn btn-outline btn-primary w-fit">Save</button>
    </div>
  </form>
</div>